.search-100 .select2-container .select2-search__field{
  width: 100%!important;
}
.group-field{
    border:2px solid #ccc;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    margin: 0 0.1em;
    padding: 0.35em 0.625em 0.75em;
}
.question-field{
    border:1px solid #ddd;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    margin: 0 0.1em 0.3em;
    padding: 0.35em 0.625em 0.75em;
}
.sub-field{
    border:1px solid #eee;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    margin: 0 0.1em 0.3em;
    padding: 0.35em 0.625em 0.75em;
}
